<div class="page-header">
<h1>We are a group of hackers and entrepreneurs <small>...we are Polymorph.</small></h1>
</div>
<p style="font-size:2em;text-align:center">Meet the team</p> 
<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="Photo here">
      <div class="caption">
        <h3>Enrique Benitez</h3>
        <p>Killer coding ninja with growth hacking skills.</p>
      </div>
    </div>
  </div>
</div>


<p style="font-size:1.5em;font-family:Helvetica;text-align:center"><a href="">Email us</a> or leave us a message down here :)</p>
