<div class="page-header">
<h1 style="color:#3686BE">We are a group of hackers and entrepreneurs <small style="color:#A6250F">...we are Polymorph.</small></h1>
</div>
<p style="font-size:2em;color:black;text-align:center">Meet the team</p> 
<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="Photo here"><br>
      <div class="caption">
        <h3 style="color:#A6250F;text-align:center">Enrique Benitez</h3>
        <p>Description here...</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="Photo here">
      <div class="caption">
        <h3 style="color:#A6250F;text-align:center">Diego Reyes</h3>
        <p>Description here...</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="Photo here">
      <div class="caption">
        <h3 style="color:#A6250F;text-align:center">Valeria Rosales</h3>
        <p>Description here...</p>
      </div>
    </div>
  </div>
</div>


<p style="font-size:1.5em;font-family:Helvetica;text-align:center"><a href="">Email us</a> or leave us a message down here :)</p>
